@import "tailwindcss";

@theme {
  --font-acorn: var(--font-acorn);
  --font-google-sans: var(--font-google-sans);
}


:root {
  --background: #0e100f;
  --foreground: #fffce1;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
